<div align="right" class="post-author-summary">
  {% for author in site.data.authors %}
      {% if page.author == author.name %}
        <img src="{{ author.avatar }}" />
        <div class="author-name">
          {% if author.url != "" And author.url != nil %}
          <a class="author-url" href="{{ author.url }}">{{ author.display_name }}</a>
          {% else %}
          <span class="author-name">{{ author.display_name }}</span>
          {% endif %}
        </div>
        {% if author.title != "" And author.title != nil %}
        <div class="author-title">{{ author.title }}</div>
        {% endif %}
        {% if author.company_url != "" And author.company_url != nil And author.company_name != "" And author.company_name != nil %}
        <div class="author-website">
          <a href="{{ author.company_url }}">{{ author.company_name }}</a>
        </div>
        {% endif %}
        {% if author.twitter OR author.linkedin Or author.github %}
        <div class="author-social-buttons">
          <ul class="share-buttons">
            {% if author.twitter %}
            <li>
                <a href="https://twitter.com/{{ author.twitter }}" target="_blank" title="{{ author.display_name }} - @{{ author.twitter }}">
                  <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                </a>
            </li>
            {% endif %}
            {% if author.linkedin %}
            <li>
                <a href="http://www.linkedin.com/in/{{ author.linkedin }}" target="_blank" title="{{ author.display_name }} - {{ author.linkedin }}">
                  <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
                </a>
            </li>
            {% endif %}
            {% if author.github %}
            <li>
                <a href="https://github.com/{{ author.github }}" target="_blank" title="{{ author.display_name }} - {{ author.github }}">
                  <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
                </a>
            </li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
      {% endif %}
  {% endfor %}
</div>
