---
---

@import "type-on-strap";

.call-out { background-color: #087c9e; padding: 12px 32px 32px 32px; }
footer.site-footer { margin-top: 32px; background-color: #4e6571; }
header.call-out p.meta { color: #cecece; }
.post-author-summary { float: right; width: 220px; margin: 0px 0px 16px 16px; }
.post-author-summary img { border: 0px; width: 200px; padding: 0px; }
.post-author-summary { font-size: .6em; text-align: right; }
.post-author-summary .author-name .author-url, .post-author-details .author-name { font-size: 1.8em; }
.footer-column { float: left; text-align: left; width: 200px; font-size: .7em; color: white; left: 12px; }
.footer-column-first { margin-right: 64px; }
.footer-header {  font-weight: bold; }
.footer-links { padding: 0; margin: 0; list-style-type: none; }
.footer-links li { padding: 8px 0px; }
.footer-column a { color: white; font-size: .9em; }
.footer-paladin-logo { width: 200px; padding: 0px; }
.footer-icons { clear: both; float: right; }
.site-header a { font-size : .8em; }
.site-avatar { height: 42px; float: left; margin-top: -13px; border-radius: 0.2em; margin-right: 0.5em; padding: 0px; }
.share-buttons i.fa-2x { padding: 0px 8px; }
.tag-list { display: inline-block; margin: 8px 0px; width: 100%; text-align: center; padding-bottom: 0px; }
article { padding-top: 3%; }
