---
layout: default
comments: true
---
<header id="main" class="call-out" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
  <h1 id="{{ page.title | cgi_escape }}" class="title">{{ page.title }}</h1>
  <p class="meta">
  {{ page.date | date: "%B %-d, %Y" }}
  </p>
</header>
<!-- Tag list -->
{% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
{% include tags_list.html tags=tag_list %}

<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <section class="post-content">

  {% if page.bootstrap %}
  <div class="bootstrap-iso">
  {% endif %}
    {{ content }}
  {% if page.bootstrap %}
  </div>
  {% endif %}
    {% include post_author_block.html %}
  </section>

  <footer>
  <!-- Social media shares -->
  {% include share_buttons.html %}
  </footer>

</article>

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
  {% include post_nav.html %}
{% endif %}
